@import "tailwindcss";

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
} */


/* LIGHT THEME */
:root {
  --bg: #ffffff;
  --text: #1a1a1a;
  --card: #f9fafb;
  --border: #e5e7eb;
  --primary: #2563eb;

  /* 👇 NEW */
  --footer-bg: #2563eb;
  --footer-text: #ffffff;
}

.dark {
  --bg: #0f172a;
  --text: #f1f5f9;
  --card: #1e293b;
  --border: #334155;
  --primary: #3b82f6;

  /* 👇 DARK VERSION */
  --footer-bg: #1e293b;
  --footer-text: #e2e8f0;
}

/* APPLY GLOBAL */
body {
  background: var(--bg);
  color: var(--text);
  @apply transition-all duration-300;
}